.message {
    position: absolute;
    top: 9%;
    left: 39%;
    border-radius: 10px;
    padding: 0.5cm 0.7cm;
    text-align: center;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: bolder;
}

