.page-settings {
    overflow-y: hidden;
    overflow-x: hidden;
}

.content {
}

.navbar-settings {
    height: 13vh;
}
.board-settings {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyboard-settings {
    height: 27vh;
}

.expand-window {
    display: none;
}


@media screen and (max-width: 300px) {
    .content {
        display: none;
    }

    .expand-window {
        display: flex;
        height: 90vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-family: sans-serif;
        text-align: center;
    }
}